<!DOCTYPE html>
<html>
  <head>
    <title>Pidgeon Army</title>
    <!--[if lt IE 9]>
    <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/r29/html5.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <%= yield %>
    <script type="text/javascript" src="/react_dist/bundle.js" defer></script>
  </body>
</html>